.main{
  display: flex;
  flex-direction: column;
}

.todoContainer {
  display: flex;
  height: 100vh;
  width: 100wh;
}

.master {
  width: 100%;
  height: 100%;
  background-color: white;
}

.splitter {
  width: 4px;
  height: 80%;
  background-color: #9eadba;
  align-self: center;
}
